<form action="api/v1/login"  class="form-signin" method="POST">
    <div class="row justify-content-center">
        <img
            class="mb-4"
            src="logoIbanezStudio.png"
            alt="logoIbanezStudio"
            width="350"
            height="auto"></div>

        {{!-- <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> --}}
        <label for="inputEmail" class="sr-only">Email</label>
        <input
            type="email"
            id="inputEmail"
            class="form-control"
            placeholder="Email address"
            required
            autofocus>
            <label for="inputPassword" class="sr-only">Contraseña</label>
            <input
                type="password"
                id="inputPassword"
                class="form-control"
                placeholder="Password"
                required>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me">
                            Recuérdame
                        </label>
                    </div>
                    <button class="btn btn-lg btn-info btn-block" onclick="entrar();" type="submit">Entrar</button>
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col-md-auto mt-5 mb-3">
                                <div class="g-signin2" data-width="auto" data-height="auto" data-longtitle="true" data-onsuccess="onSuccess"></div>
                                <p>
                                    <a href="#" onclick="signOut();">Cerrar sesión</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <p class="mt-5 mb-3 text-muted">
                        © IbanezStudio | Todos los derechos reservados &copy;
                        {{anio}}</p>
                </form>