
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>API  ·  IBANEZSTUDIO</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/sign-in/">
    {{!-- <script src="https://apis.google.com/js/platform.js" async defer></script> --}}
    <script src="https://apis.google.com/js/platform.js?onload=renderButton"></script>
    <script src="./assets/js/signin.js"></script>
    <meta name="google-signin-client_id" content="932207751579-veeb40suglb58s0grcrrlq5evoajdihn.apps.googleusercontent.com">
    <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">

<meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="./assets/css/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">

    {{> login}}
  
  </body>
</html>
